<p id="notice"><%= notice %></p>

<h1>Listing Projects</h1>

<div class="container">
<div class="row">
  <div class="card-deck-wrapper">
    <div class="card-deck">
      <% @projects.each do |project| %>
        <div class="card">
          <img class="card-img-top img-fluid" src="<%= project.project_image_url %>" data-src="..." alt="Screenshot Image of <%= project.title %> Site">
          <div class="card-block">
            <h4 class="card-title"><%= project.title %></h4>
            <p class="card-text"><%= project.brief %></p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%= project.languages_used %></li>
              <li class="list-group-item"><%= project.other_features %></li>
            </ul>
            <div class="card-block">
              <a href="<%= project.github_repo %>" class="card-link">View Code</a>
              <a href="<%= project.demo_site_url %>" class="card-link">View Demo</a>
              <br>
              <%= link_to 'Show', project %>
              <%= link_to 'Edit', edit_project_path(project) %>
              <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
<%= link_to 'New Project', new_project_path %>